.App {
    min-height: 90%;
    width: 100%;
    height: auto;
    position: absolute;
    top: 30px;
    left: 0;
    margin-bottom: 40px;
    background: #e6edf5 repeat center center fixed;
    text-align: center;
    box-shadow: 0 0 5px #e6edf5;
}

.rateForm {
    margin-top: 2%;
    flex: 1 1 400px;
}

.weather-form {
}

.label {
    text-align: center;
    font-size: calc(1vw + 1vh);
    font-weight: 600;
    color: #032f55
}

.Button1 {
    display: flex;
}

.result {
    color: #032f55;
    font-size: calc(1vw + 1vh);
}

.tendencies-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
}

.buttonResponsive {
    width: 50%;
    background-color: #032f55;
    font-size: calc(1vw + 1vh);
}

.Mid {
}

.List {
    display: none;
    max-width: 100%;
    margin: auto
}

.tendencyDiv {
    flex: 1 1;
    margin-left: 3%;
    margin-right: 3%;
}

.groupForms {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3%;
    margin-right: 3%;
    align-content: center;
}

.subtitleResponsive {
    font-size: calc(1.5vw + 1.5vh);
    font-weight: 700;
    color: #032f55;
}

.Tendency {
    display: inline;
    margin-bottom: 1%;
    width: 10%;
    height: auto;
    margin-left: 2%;
}

.backButton {
    max-height: 150px;
    max-width: 200px;
    display: flex
}

.topNavbar {
    justify-content: space-between;
    position: fixed;
    height: 40px;
    top: 0;
    width: 100%;
    z-index: 2;
}

.api-group {
    display: flex;
    flex-wrap: wrap;
}

.API {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px 5px #032f55;
    flex: 1 1 200px;
    margin: 3%;
    transition: 0.5s;
    z-index: 1;
}

.API:hover {
    transition: 0.5s;
    z-index: 1;
    background-color: rgba(255, 255, 255, 1);
}

.API:hover:nth-child(odd) {
    transform: translateX(3vw);
}

.API:hover:nth-child(even) {
    transform: translateX(-3vw);
}

.result-weather {
    margin-top: calc(1.5vh + 1.5vw);
    font-weight: 600;
}

.mainSiteImage {
    width: 50%;
    height: auto;
}

.littleImage {
    width: 140px;
    height: 100px;
}

.textResponsive {
    display: inline;
    font-size: calc(1vw + 1vh);
    color: #032f55;
}

.text-responsive-api {
    font-size: calc(2vw + 2vh);
    color: #032f55;
}

.about-flex{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}
.social-links{
    flex: 3 1;
    margin-top: 2%;
    margin-left: 5%;
}
.social-link{
    font-size: calc(1vw + 1vh);
    color: #032f55;
    font-weight: 700;
}
.line{
    line-height: 1vw;
}
.authorDiv{
    flex: 1 1;
}
.link:hover{
    text-decoration: none;
}
.authorResponsive {
    border-radius: 50%;
    margin-left: 5%;
    width: 100%;
    height: auto;
}

.inputResponsive {
    margin: 1%;
    border: 0;
    border-radius: 0.2vw;
    border-left: 0.3vw solid #032f55;
    text-indent: 15px;
    box-shadow: 0 0 10px #032f55;
    width: 50%;
    height: calc(2vw + 2vh);
    font-size: calc(1vw + 1vh)
}

.checkCodes {
    padding-top: 2%
}

.bottom-bar {
    z-index: 2;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #343a40;
}
.code-table{
    margin-top: -20px;
    margin-bottom: 0;
}
.background{
    background-image: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
    border-radius: 40px;
    width: calc(15vw + 15vh);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.background__icon{
    flex: 1 1;
}
.background__group{
    flex: 4 1;
}
.background__temperature{
    color: white;
    font-size: 34px;
}
.background__time{;
    color: white;
    font-size: 24px;
}
.result__data{
    display: none;
}
.result__button{
    margin-top: calc(1.5vw + 1.5vh);
    margin-bottom: calc(1.5vh + 1.5vw);
    width: calc(15vw + 15vh);
    background-color: #032f55;
    font-size: calc(1vw + 1vh);
    border-radius: 5px;
}

@media (max-width: 800px){
    .background__icon{
    max-height: 50px;
        max-width: 50px;
    }
    .background__temperature{
        font-size: 17px;
    }
    .background__time{;
        color: white;
        font-size: 12px;
    }
    .background{
        border-radius: 20px;
    }
}