.App {
  text-align: center;
}
.Form1{
  max-width: 80%;
}
.Label1{
  display:flex;
}
.Button1{
  display:flex;
}
.buttonCheck{
    content: '\A'
}
.Mid{
}
.List{
 display: none;
    max-width:100%;
    margin: auto
}
.tendencyDiv {
  display:flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-self: center;
  margin-right: 30px;
}
.Tendency{
  margin-bottom: 1%;
  max-width: 50px;
  max-height: 25px;
  margin-left: 10px;
}
.backButton{
    max-height: 150px;
    max-width: 200px;
    display:flex
}

.topNavbar{
    justify-content: space-between;
}
