.App {
    text-align: center;
    margin-top: 56px;
}

.Form1 {
    margin-right: 3%;
    margin-left: 3%;
    max-width: 60%;
    align-self: center;
}

.Label1 {
    display: flex;
    font-size: min(3vw, 20px);
    font-weight: bolder;
}

.Button1 {
    display: flex;
}

.buttonResponsive {
    width: 100%;
    max-width: 60%;
    font-size: min(3vw, 15px);
}

.Mid {
}

.List {
    display: none;
    max-width: 100%;
    margin: auto
}

.tendencyDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-self: center;
    margin-left: 3%;
    margin-right: 3%;
}

.group {
    display: flex;
    margin-left: 3%;

    margin-right: 3%;
    align-content: center;
}

.Tendency {
    margin-bottom: 1%;
    width: 100%;
    height: auto;
    max-height: 25px;
    max-width: 50px;
    margin-left: 10px;
}

.backButton {
    max-height: 150px;
    max-width: 200px;
    display: flex
}

.topNavbar {
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

.API {
    margin-left: 3%;
}

.mainSiteImage {
    width: 100%;
    height: auto;

}

.littleImage {
    width: 140px;
    height: 100px;
}

.textResponsive {
    font-size: max(8px, 2vw);
}

.textResponsive2 {
    font-size: min(3vw, 20px);
}

.autorResponsive {
    margin-left: 3%;
    margin-top: 3%;
    width: 50%;
    height: auto;
    max-width: 300px;
    max-height: 300px;
}

.inputResponsive {
    width: 60%;
    height: auto;
    font-size: max(8px, 1vw);
}

.checkCodes {

}
